# --- SÄKERHET (Blockera alla nycklar) ---
*.key
*.crt
*.trust
*.uri
*.pem
*.bak.*

# --- BYGG-ARTEFAKTER (Skräp vi inte vill spara) ---
ipk_build/
*.ipk
*.tar.gz
debian-binary

# --- LOGGAR & LOKAL HISTORIK ---
# Vi blockerar loggen eftersom den innehåller din server-URI
build_log.txt
# Vi blockerar versionsfilen om du vill att andra ska börja på v1.0
# (Eller ta bort # nedan om du vill spara versionsnumret i molnet)
# version.txt
